{% load static %}
{% load compress %}
{% load sekizai_tags %}

{% addtoblock "head" %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>

    {% compress css %}
        <link type="text/x-scss"
              href="{% static 'css/sections/_view_analysis.scss' %}"
              rel="stylesheet"
              media="screen" />
    {% endcompress %}
    {% compress js %}
        <script src="{% static 'js/sections/_view_analysis.js' %}">
        </script>
    {% endcompress %}

    <script>
        id={{ id }}
    </script>
{% endaddtoblock %}

<div class="ui active dimmer inverted" id="loader">
    <div class="ui massive blue indeterminate loader">
    </div>
</div>
<div class="fill-100percent">
    <div class="ui one cards hidden" id="analysis-view">
        <div class="ui raised centered card" id="analysis-card">
            <div class="content">
                <div class="center aligned header" id="file-name">

                </div>
                <div class="center aligned meta" id="file-author">

                </div>
            </div>
            <div class="content">
                <div class="ui selection dropdown channel">
                    <input type="hidden" name="Channel">
                    <i class="dropdown icon"></i>
                    <div class="default text">Channel</div>
                    <div class="menu" id="channel-menu">

                    </div>
                </div>
            </div>
            <div class="content">
                <div class="ui stackable buttons" id="analysis-buttons">
                </div>
            </div>
            {% if hideable %}
                <div class="extra content">
                    <input class="close-button" type="button" value="Close">
                </div>
            {% endif %}
        </div>

        <div class="ui raised centered fluid card" id="chart-card">
            <div id="zoom">
                <i class="large search zoom icon" id="zoom-in"></i>
                <i class="large search zoom out icon" id="zoom-out"></i>
            </div>
            <div class="content">
                <div id="chart-area">
                    <canvas id="chart" class="fill-100percent"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
