# Python virtual environments
.venv

# Python cache generation
__pycache__

# Environment files
.env

# Database volume
files/database/data

# Static web files
files/audialytix/staticfiles

# Terraform
.terraform
*.tfvars
