@import 'base';

main {
    width: 100%;
    height: 90vh;

    #card-container {
        width: 100%;
        height: 90%;

        border-bottom: 2px solid $dark-blue;

        overflow-y: auto;
        overflow-x: hidden;
    }

    #pagination-wrapper {
        height: 10%;
    }

    .cards {
        padding: 32px;
    }
}
