{% extends '_base.html' %}
{% load static %}
{% load compress %}

{% block title %}
    Page not found
{% endblock title %}

{% block head %}
    {% compress css %}
        <link type="text/x-scss"
              href="{% static 'css/error.scss' %}"
              rel="stylesheet"
              media="screen" />
    {% endcompress %}
{% endblock head %}

{% block content %}
                {% include "sections/_site_message.html" with title="Page not found" message="Sorry, we can't find that page." %}
{% endblock content %}
